<nav class="ui attached menu">
    <div class="ui container">
        <div class="header item">
            <h1><i class="checkmark box icon"></i> {{ title }}</h1>
        </div>
    </div>
</nav>

<div class="ui text container">
    <div class="ui segment form">
        <div class="ui fluid action input">
            <input type="text" name="title" placeholder="Що треба зробити?" (keyup)="addTodo($event)" #titleInput>
            <button type="button" class="ui primary button" (click)="addTodo($event)">Додати</button>
        </div>
    </div>
    
    <div class="ui raised segment" *ngIf="todos.length > 0">
        <div id="todos" class="ui maddle aligned divided selection list"> 
            <div class="to do item" *ngFor="let todo of todos">
                <div class="ui checkbox">
                    <input type="checkbox">
                    <label>{{todo}}</label>
                </div>
                
                <button class="ui red button"><i class="trash outline icon"></i> </button>
            </div>
        </div>
    </div>
    
</div>